{
    "assumptions": {
        "setPublicClassFields": true,
        "constantSuper": false,
        "noClassCalls": true,
        "setClassMethods": true,
        "superIsCallableConstructor": true
    },
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        [
            "@babel/preset-typescript",
            {
                "optimizeConstEnums": true
            }
        ]
    ],
    "plugins": [
        "babel-plugin-typescript-path-aliases",
        [
            "@babel/plugin-proposal-decorators",
            {
                "version": "legacy"
            }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-classes"
    ]
}